header {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.gd-generar {
  background-color: #101010;
  border-radius: 9px;
  box-shadow: 0px 0px 10px #050505;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.gd-boton-generar {
  padding: 8px;
  border-radius: 9px;
  background-color: #d7ee0e;
  box-shadow: 1px 1px 15px #3f4604;
  border: none;
  cursor: pointer;
}
.gd-crear {
  background-color: #101010;
  border-radius: 9px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
input {
  padding: 5px;
  border-radius: 9px;
  border: none;
  box-shadow: 1px 1px 15px #3f4604;
}
.gd-fondo-oscuro {
  background-color: aliceblue;
  padding: 18px;
  border-radius: 9px;
  box-shadow: 1px 1px 15px #3f4604;
  border: none;
  cursor: pointer;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}
.gd-fondo-blanco {
  background-color: rgb(59, 58, 58);
  padding: 18px;
  border-radius: 9px;
  box-shadow: 0px 0px 10px #444444;
  border: none;
  cursor: pointer;
}
.gd-generar-blanco {
  background-color: #c4c4c4;
  border-radius: 9px;
  box-shadow: 0px 0px 10px #a3a3a3;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: rgb(32, 32, 32);
}
.gd-crear-blanco {
  background-color: #c4c4c4;
  border-radius: 9px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 720px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .gd-generar,
  .gd-generar-blanco {
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    width: 90%;
  }

  .gd-crear,
  .gd-crear-blanco {
    gap: 10px;
    padding: 20px;
  }

  .gd-boton-generar,
  .gd-fondo-oscuro,
  .gd-fondo-blanco,
  input {
    width: 30%;
    padding: 10px;
    text-align: center;
  }

  input {
    width: 100%;
    padding: 8px;
  }

  main {
    flex-direction: column;
    gap: 15px;
  }
}
